.body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

.header {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: blueviolet;

}

.header a {
    text-decoration: none;
    color: red;
}

.header img {
    width: 100px;
}

.header div a {
    margin-right: 5px;
    display: inline-block;
}

.section div h1 {
    text-decoration-color: brown;
    text-size-adjust: 10px;
}